.pg-hud {
  position: absolute;
  top: clamp(145px, 17vh, 190px);
  left: 0;
  right: 0;
  z-index: 30;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: clamp(170px, 16vw, 280px);
  padding-right: clamp(150px, 15vw, 260px);

  pointer-events: none;
}

.pg-hud__rank,
.pg-hud__xp {
  pointer-events: auto;
  min-width: clamp(330px, 25vw, 440px);
  max-width: 440px;
}

.pg-hud__rank {
  transform: translateX(-40px);
}

.pg-hud__xp {
  transform: translateX(40px);
}
